body {
  font-family: Arial, sans-serif;
  background: #f5f6f8;
  margin: 20px;
}

/* タイトル */
h1 {
  text-align: center;
  margin-bottom: 30px;
}

/***************************************************/
/****              テーブル全体の設定              ****/
/***************************************************/

.member-table {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  border-collapse: collapse;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

/* 行 */
.member {
  border-bottom: 1px solid #eee;
  font-family:
  "Hiragino Maru Gothic ProN",
  sans-serif;
}
.member:hover {
  background: #f9fafb;
}

/* セル */
.member th,
.member td {
  padding: 15px;
  vertical-align: middle;
}

/***************************************************/
/****                 各要素の設定                ****/
/***************************************************/

/****************** photo（左列）******************/
.photo {
  width: 120px;
  border-radius: 8px;
}

/******************  info（中列）******************/
.info p {
  margin: 4px 0;
}

.role {
  font-weight: bold;
  color: #555;
}

.name-ja {
  font-size: 18px;
  font-weight: bold;
}

.name {
  color: #777;
}

/****************** detail（右列）******************/
.details {
  font-size: 14px;
  line-height: 1.6;
}
.details p {
  margin: 4px 0;
  display: flex;
  align-items: center;
  gap: 6px;
}
.details a {
  color: #0077cc;
  text-decoration: none;
}
.details a:hover {
  text-decoration: underline;
}

.email {
  font-family: "Courier New", monospace;
  font-size: 13px;
  color: #262626;
  padding: 2px 6px;
  border-radius: 4px;
}

.research {
  font-size: 13px;
  /* font-weight: 600; */
  color: #222;
  margin-top: 6px;
}

.comment {
  color: #666;
  font-style: italic;
  font-size: 13px;
  font-family: "Meiryo"
}